@model ProductCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateProductViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descritption" class="control-label"></label>
                <input asp-for="Descritption" class="form-control" />
                <span asp-validation-for="Descritption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Explanation" class="control-label"></label>
                <input asp-for="Explanation" class="form-control" />
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityInStok" class="control-label"></label>
                <input asp-for="QuantityInStok" class="form-control" />
                <span asp-validation-for="QuantityInStok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="CategoryId">
                    <partial name="_SelectOptionsCategoryPartialView" model="Model.Categories" />
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images" class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                @if (Model.Tags?.Any() ?? false)
                {
                    <partial name="_TagForSelectPartialView" model="Model.Tags" />
                }
                else
                {
                    <span>
                        برچسب موجد نیست
                    </span>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
