@model IAsyncEnumerable<CategoryViewModel>
@await foreach (var categoyr in Model)
{
    <optgroup>
        <option value="@categoyr.Id">
            @categoyr.TitleParent => @categoyr.Title
        </option>
    </optgroup>
    
}